body{
margin:0;
}

#principal{
	width: 100%;
	margin: 0px;
	background-color: #5b5b5d;
}

#principal p, h1, h2, h3, h4{
	color: white;
	font-family: 'Arial';
}

#menu_estatico{
	background-color: #5b5b5d;
	position: fixed;
	padding-top: 10px;
	height: 65px;
	width: 100%;
	border-bottom-width: 7px;
	border-bottom-style: solid;
	border-bottom-color: #68686e;
}

#flecha a{
	position: fixed;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	color: #7070cb;
	background-color: #5b5b5d;
	bottom: 15px;
	right: 15px;
	width: 50px;
	height: 45px;
	padding-top: 18px;
	border-radius: 50%;
}

#flecha a:hover{
	color: #5b5b5d;
	background-color: #7070cb; 
	
	padding-bottom: 10px; 
}

#margen_estatico{
	width: 1200px;
	text-align: center;
	margin-right: auto;
	margin-left: auto; 
}

#icono_menu{
	display: inline-flex;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

#logomenu img{
	width: 50px;
	height: 50px;
}

#icono_menu_estatico{
	margin-top: 10px;
}

#icono_menu_estatico a{
	color: #7070cb;
	font-size: 28px;
	margin-left: 10px; 
	text-decoration: none;
}

#icono_menu_estatico a:hover{
	color: white;
}

#botones_menu{
	margin-top: 15px;
	float: right;
	display: inline-flex;
}

#botones_menu a{
	color: #7070cb;
	padding-left: 10px;
	text-decoration: none;
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 20px;
}

#botones_menu a:hover{
	color: white;
	border-left-style: solid;
	border-left-color: white;
}

#boton_dif a{
	color: red;
}

#boton_dif a:hover{
	color: red;
	border-color: red;
}

#logo{
	padding-bottom: 28px;
	padding-top: 88px;
}

#logo img{
	width: 400px;
	height: 400px;
	display: block;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

#titulo {
	display: flex;
}

#titulo li{
	display: inline;
}

#iconos_titulo{
	display: flex;
	margin-right: auto;
	margin-left: auto;
}

#iconos_titulo h1{
	font-size: 50px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#iconos_titulo ul{
	display: inline;
	padding-left: 0px;
	list-style: none;
	margin-left: 0px;
	margin-right: 0px;
}

#iconos_titulo img{
	border-top-color: #7070cb;
	padding-top: 5px;
	border-top-style: solid; 
	width: 50px;
	height: 50px;
}

#iconos_titulo img:hover{
	border-top-style: none;
	background-color: #7070cb;
}

#subtitulo {
	display: flex;
}

#subtitulo p{
	font-size: 25px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

#accesos {
	display: flex;
}

#acceso_botones{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

#acceso_botones a{
	text-decoration: none;
	background-color: #5b5b5d;
	border-style: solid;
	border-bottom-width: 5px; 
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px; 
	margin-right: 20px;
	padding: 10px;
	border-radius: 5px;
}

#boton_1{
	color: white;
}

#acceso_botones a:hover{
	color: #7070cb;
	border-color: #7070cb;
}

#boton_2 {
	color: #7070cb;
	border-color: #7070cb;
}

#informacion {
	background-color: #aaaab0;
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 5px;
	padding-top: 60px;
}

#informacion img{
	width: 200px;
	height: 200px;
}

#informacion h4{
	width: 160px;
	font-size: 20px;
	border-bottom-style: solid;
}

#informacion p{
	line-height: 1.5em;
	size: 12px;
}

#cuadro-caract {
	background-color: #7070cb;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

#cuadro{
	width: 1200px;
	display: flex;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
}

.caracteristicas{
	width: 25%;
	height: 400px;
	margin-right: 30px;
	padding-top: 50px;
	text-align: justify;
}

.caracteristicas img{
	margin-left: 30px;
	margin-right: auto;
	width: 200px;
	height: 150px;
}

.caracteristicas img:hover{
	padding-bottom: 20px;

}

.caracteristicas h4:hover{
	color: black;
}

.caracteristicas:hover{

}

.caracteristicas h4{
	text-align: center;
}

#cosas_hacer{
	background-color: #7070cb;
	border-top-style: solid;
	border-top-color: #8a8aae;
}

#listado-numeros {
	border-top-style: solid;
	border-top-color: #68686e:  
	background-color: #5b5b5d;
	display: flex;
}

#listado{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

#listado div{
	display: table-cell;
	margin-left: 100px;
}

#trabajos {
	background-color: #7070cb;
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 50px;
	border-top-style: solid;
	border-top-color: #8a8aae;
	padding-top: 10px;
}

#lista-tabla table{
	margin: 50px;
}

#lista p{
	line-height: 1.5em;
}

#lista img{
	margin-right: 10px;
	width: 100px;
	height: 100px;
}

#computadora img{
	margin-top: auto;
	margin-bottom: auto;

}

#contenido{
	display: flex;
}

#linea_ima{
	background-color: red;
	height: 6px;
	margin-top: 50px;
	margin-bottom: 30px;
}


#linea_imagenes{
	width: 1000px;
	position: relative;
	margin-right: auto;
	margin-left: auto; 
}

#linea_imagenes img{
	position: relative;
	width: 70px;
	height: 70px;
	text-align: center;
}

#linea_imagenes ul{
	bottom: -60px;
	position: absolute;
	padding-left: 0px;
	display: flex;
	text-align: center;
	width: 100%;
	list-style: none;
}

#linea_imagenes li{
	margin-right: 400px;
}

.subs{
	border-top-style: solid;
	border-top-color: #68686e;
	border-bottom-width: 10px;
	background-color: #7070cb;
	display: inline;
	padding-top: 100px;
}

.subs p, h2{
	font-family: "arial";
	font-size: 40px;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
}

.subs p{
	font-size: 15px;
}

.subs h2{
	padding-top: 30px;
}

#lugar_cita{
	border-top-style: solid;
	padding-top: 70px;
}

#cita{ 
	text-align: right;
	margin-left: 450px;
	margin-right: 450px;
	font-size: 28px;
	border-right-style: solid; 
}

#cita footer{
	font-size: 25px;
}

#referencias{
	background-color: #7070cb;
	border-top-style: solid;
	border-top-color: #8a8aae;
}

#lista_imagenes{
	background-color: #7070cb;
	display: inline;
	text-align: center;
}

#imagenes_acomodo{
	display: flex;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}

#imagenes_acomodo ul{
	list-style: none;
}

#imagenes_acomodo li{
	margin: 20px;
	
	display: inline-block;
}

#imagenes_acomodo img{
	width: 300px;
	height: 300px;
}

#post{
	border-top-style: solid;
	border-top-color: #8a8aae;
}

#blogs{
	display: flex;
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 50px;
	padding-top: 10px;
}

.posteos{
	max-width: 600px;
	margin: 35px; 
	background-color: #7070cb;
	border-radius: 5px;
}

.info_post{
	padding-left: 15px;
	padding-right: 15px;
}

.posteos a{
	float: right;
	text-decoration: none;
	background-color: white;
	border-bottom-style: solid;
	border-bottom width: 5px;
	padding: 6px;
	border-radius: 5px;
}

a:hover{
	background-color: #5b5b5d;
	color: white;
	text-decoration: none;
}

.posteos p{
	line-height: 1.5em;
	size: 12px;
}

.botones_post{
	display: grid;
}

.botones_info a{
	float: left;
	margin-top: 10px;
	display: table-cell;
	text-align: center;
}

#planes_prin{
	background-color: #7070cb;
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 50px;
	padding-top: 10px;
	border-top-style: solid;
	border-top-color: #8a8aae;
	
}

#planes{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.precios{
	width: 350px;
	height: 420px;
	margin-right: 20px;
	background-color: #5b5b5d;
	display: inline-block;
	border-radius: 5px;
}

.precio_planes{
	background-color: #7070cb;
	width: 50px;
	height: 50px;
	padding-top: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-radius: 50%;
}

.caract_planes{
	background-color: #68686e;
	margin-bottom: 30px;
	text-align: center; 
}

.caract_planes table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.boton_plan a{
	text-decoration: none;
	background-color: #7070cb;
	border-bottom-style: solid;
	border-bottom width: 5px;
	border-radius: 5px;
	padding: 6px;
}

#testimonios_prin{
	border-top-style: solid;
	border-top-color: #8a8aae;
}

#testimonios{
	display: flex;
}

#testimonios_area{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.opiniones{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.opiniones img{
	float: left;
	width: 130px;
	height: 130px;
}

.opin_info{
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	text-align: left;
	border-radius: 5px;
	background-color: #7070cb;
	display: inline-block;
	line-height: 1.5em;
	max-width: 400px;
}

.opin_info h4{
	margin-top: 0px;
	color: black;
}

.opin_info h3{
	margin-bottom: 0px;
}

#contactanos{
	display: block;
	background-color: #7070cb;
}

#area_form{
	/*
	INTENTO DE PONER IMAGEN DE FONDO DESDE CSS
	background-image: url(../assets/imagenes/fondoInfo.jpg);
	*/
	background-position: center;
	
	text-align: center;
	margin-right: auto;
	margin-left: auto; 
}

#fondo_formulario{
	
	margin: 50px;
	padding: 50px;
	display: inline-flex;
}

#formulario{
	text-align: left;
	margin-left: auto;
	margin-right: 50px;
	max-width: 570px;
	max-height: 650px;
}

#formulario h3{
	color: white;
}

#formulario a{
	text-align: center;
}

#formulario input{
	border-radius: 5px;
	height: 30px;
	margin-bottom: 20px;
}

#formulario textarea{
	border-radius: 5px;
}

#boton_form{
	text-align: center;
	margin-top: 20px;
}

#boton_form a{
	margin-right: auto;
	margin-left: auto;
	background-color: #7070cb;
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom width: 5px;
	padding: 6px;
	border-radius: 5px;
}

#info_contacto{
	margin-right: 20px;
	text-align: center;
}

#logo_info{
	border-radius: 50%;
}

#logo_info img{
	width: 100px;
	height: 100px;
}

#info p{
	color: white;
	text-align: left;
	padding-bottom: 20px; 
	border-bottom-style: dashed; 
}

#pie_pagina{
	padding: 50px;
	padding-top: 30px;
	display: block;
	border-top-style: solid;
	border-top-width: 5px; 
	border-top-color:  #68686e; 
}

#elementos{
	width: 1000px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#enlaces_pie{
	padding-bottom: 15px;
}

#enlaces_pie ul{
	display: inline-flex;
	padding-left: 0px;
	list-style: none;
	margin-left: 0px;
	margin-right: 0px;
}

#enlaces_pie li{
	margin: 10px;
}

#enlaces_pie img{
	padding: 10px;
	border-radius: 43%;
	width: 35px;
	height: 35px;
}

#enlaces_pie img:hover{
	border-top-style: none;
	background-color: #7070cb;
}

#copyright p{
	display: inline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

